<div class="card filter-sidebar ">
    <div class="card-header d-flex justify-content-between mb-0">
      <div>Filters</div>
    </div>
    <app-disk (filtered)="getFilterData($event)"></app-disk>
    <app-ram [ramData]="filterData[1]" (filtered)="getFilterData($event)"></app-ram>
    <app-disktype [diskTypeData]="filterData[2]" (filtered)="getFilterData($event)"></app-disktype>
    <app-location [locationData]="filterData[0]" (filtered)="getFilterData($event)"></app-location>
  </div>