<h5>Disk Storage: {{rangeValues[0]+'TB' + ' - ' + rangeValues[1]+'TB'}}</h5>
<p-slider [(ngModel)]="rangeValues" [min]="0" [max]="72" [step]="1" [range]="true" (onSlideEnd)="emitValue($event)"></p-slider>
